body {
    font-family: 'Open Sans', sans-serif;
    background: var(--bgc-page);
    background-size: 100% 5000px;
    margin: 0;
}
.container {
    overflow: hidden;
    width: 80%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) inset;
    position: absolute;
    top: 350px;
    left: 10%;
    background-color: #fff;
    margin-bottom: 100px;
    border-radius: 20px;
}
.content {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}
.content .article {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid silver;
}
.content .article > h1 {
    width: 100%;
    padding-left: 30px;
}
.content .article > p {
    width: calc(50% - 10px);
    margin-left: 10px; 
}
.corusel {
    width: 80%;
    margin: 10px auto;
    box-shadow: -1px 10px 16px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    overflow: hidden;
}
.corusel .box {
    width: 300%;

    animation: corousel 18s infinite ease-out alternate;
}   
@keyframes corousel {
    0% {}
    50% {
        transform: translateX(-33.3%);
    }
    100% {
        transform: translateX(-66.66%);
    }
}
.corusel .box .box-art {
    float: left;
    width: calc(100% / 3);
    height: 400px;
    position: relative;
    background-color: rgb(43, 168, 190);
}
.corusel .box .box-art img {
    width: 100%;
    height: 400px;
}
.corusel .box .box-art .div-text {
    position: absolute;
    top: 240px;
    left: 10%;
    width: 80%;
    height: 100px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.corusel .box .box-art .div-text p {
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
}
hr {
    width: 90%;
}
.list {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
}
@media (max-width: 900px) and (min-width: 570px) {
    .list {
        transform: rotate(90deg)
    }
    [class^="brashura"] span {
        display: block;
        transform: rotate(-90deg);
        width: 200px;
        margin: 70px 40px 20px -40px;
    }
    [class^="brashura"] a {
        display: block;
        transform: rotate(-90deg);
        width: 20px;
        margin: calc(100% - 40px);
    }
    [class^="brashura"] h1 {
        width: 70px;
        transform: rotate(-90deg);
        margin: 5px 0 0 0;
    }
    .list .brashura-2 img {
        transform: rotate(-90deg);
        width: 90px;
        margin: 5px 0;
    }
}
@media (max-width: 570px) {
    .list {
        display: none;
    }
}
[class^="brashura"] {
    width: 25%;
    height: 300px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.6);
    padding: 20px; 
}
.brashura {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin: 100px 0 200px 10px;
    transform: skewY(19deg);
}
.brashura-2 {
    margin: 100px 0 200px 0;
    transform: skewY(-19deg);
}
.brashura-2 img {
    width: 100%;
}
.brashura-3 {
    margin: 100px 0 200px 0;
    transform: skewY(19deg);
}
.brashura-4 {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin: 100px 0 200px 0;
    transform: skewY(-19deg);
}
.brashura-4 a {
    text-decoration: none;
    color: lightseagreen;
}
.brashura-4 a:hover {
    color: rgb(27, 131, 126);
    text-shadow: 1px 0 20px rgb(27, 131, 126);
}
section.bio-sec {
    width: 50%;
    
    margin: 160px auto;
    padding: 20px 60px;

    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);

    border-radius: 20px;

    background-color: #fff;
}
section.bio-sec article {
    text-align: center;
    font-family: cursive;
    font-style: italic;
    font-size: 1.2em;
}
.bgc-for-page {    
    background: linear-gradient(var(--bgc-welcome-page));
}
:root {
    --fontSize-h1: 100px;
    --fontSize-big: 1.2em; 
    --width: 100%;
    --fontW-for-small: 600;
    --marginR-for-h1: -18px;
    --marginR-for-nav-welcomePage: calc(50% - 200px);
    --bgc-page: radial-gradient(circle at 50px 50px, rgb(84, 89, 160), rgb(206, 217, 224), rgb(3, 53, 82));
    --bgc-welcome-page: linear-gradient(to right, #23719e, #88dadd, #88dadd, #23719e);

    --top-margin-for-cart: 15px;
    --auto-margin-for-cart: 15px;
    --height-for-nav-in-homepage: 50px;
}
@media (max-width: 700px) {
    :root {
        --fontSize-h1: 80px;
        --fontSize-big: 1em;
        --width: 70%;
        --fontW-for-small: 100;
        --marginR-for-h1: 0;
        --marginR-for-nav-welcomePage: auto;
        --top-margin-for-cart: 200px;
        --auto-margin-for-cart: auto;
        --height-for-nav-in-homepage: auto;
    }
}
@media (min-width: 701px) and (max-width: 870px) {
    :root {
        --height-for-nav-in-homepage: auto;
    }
}
.up {
    display: block;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 20px solid rgb(0, 217, 255);

    position: fixed;
    top: 500px;
    left: 80px;

    text-decoration: none;
}
.up > p {
    width: 20px;
    height: 15px;
    margin: 20px 20px 0 -10px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.up:hover {
    border-bottom-color: #f5ff64;
}
.cart {
    opacity: 0.89;
    width: 190px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.5);
    background-color: rgba(43, 43, 43, 0.603);
    overflow: hidden;
    padding: 10px;
    margin: var(--top-margin-for-cart) var(--auto-margin-for-cart) 15px; 
    justify-content: center;

    animation: lorem1 900ms 1 forwards;
}
.cart-img {
    float: left;
    width: 100%;
    height: 140px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(43, 43, 43, 0.603);
}
.cart-article {
    overflow: hidden;
    height: 260px;
    float: left;
}
.cart:hover {
    animation: cartAnima 60ms 10ms 1 forwards;
}
@keyframes cartAnima {
    0% {}
    100% {
        transform: scale(1.04, 1.04);
        opacity: 1;
    }
}
.cart:active {
    background-color: rgba(43, 43, 43, 0.904);
}

@keyframes lorem1 {
    0% {}
    25% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.content-for-cart  {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;

    display: flex;
    flex-flow: row wrap;
}
.active-link {
    background-color: #6428e4;
    text-decoration: underline;
}
.nav {
    width: 100%;
    height: var(--height-for-nav-in-homepage);
    display: flex;
    flex-flow: row-reverse;
    background:  radial-gradient(circle at 50px 50px, rgb(31, 33, 56), rgb(8, 55, 85), rgb(31, 33, 56));
    position: fixed;
    top: 0;
    z-index: 1;
}
button#menu-button {
    width: 70px;
    height: 46px;
    background: transparent;
    border: 0;
    padding: 0 0 5px;
    outline: none;
    margin: 0 20px 0 10px;
}
button#menu-button > [class^="line-"] {
    width: 56px;
    height: 6px;
    margin-top: 6px;
    border-radius: 6px;
    background-color: #6fccc7;
    box-shadow: 0 0 5px rgb(206, 217, 224, 0.4) inset;
    transition: all .3s;
}
nav.nav div.menu-box {
    width: 100%;
    height: var(--height-for-nav-in-homepage);
    overflow: hidden;
}
nav.nav div.menu-box ul {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    transform: translateX(100%);
    transition: all 1s;
}
nav.nav div.menu-box ul li {
    display: inline-block;
    width: 150px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
nav.nav div.menu-box ul li a {
    display: block;
    min-width: 100%;
    margin: 0 auto; 
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 50px;
    text-shadow: 1px 3px 6px black;
}
nav.nav div.menu-box ul li div.hover {
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s;
    background-color: rgba(155, 240, 255, 0.6);
}
nav.nav div.menu-box ul li a:hover div.hover {
    height: 50px;
}
nav.nav div.menu-box ul li div.hover-active {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(106, 40, 211, 0.6);
}
nav.nav div.options {
    width: 200px;
    height: 20px;
    color: white;
    display: flex;
    flex-flow: column wrap;
    margin: 15px 10px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .8s;
}
h1 {
    width: 100%;
    margin: 100px 0 0;
    font-size: 5em;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.7); 
    position: relative;
    text-align: center;
    color: white;
    transition: all 1s;
}
.cat {
    width: 100px;
    height: 140px;
    margin: 0 auto;
    position: relative;
}
.cat .head {
    width: 45px;
    height: 45px;
    border-radius: 41%;
    background-color: #000000;
    position: absolute;
    top: 5px;
    left: 20px;
}
.cat .head-show {
    animation: head-show 3.7s .3s infinite ease-in-out alternate;
}
@keyframes head-show {
    0% {}
    50% {
        transform: translateX(7px);
    }
    100% {
        transform: translateX(-5px);
    }
}
.cat .body {
    width: 40px;
    height: 90px;
    border-radius: 13px;
    background-color: #000000;
    position: absolute;
    top: 45px;
    left: 23px;
}
.cat .ushi-1 {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 15px solid black;
    transform: rotateZ(-20deg);
    position: absolute;
    top: -15px;
    left: 19px;
}
.cat .ushi-2 {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 15px solid black;
    transform: rotateZ(20deg);
    position: absolute;
    top: -15px;
    left: 46px;
}
.cat .foot-1 {
    width: 14px;
    height: 40px;
    background-color: #000000;
    border-radius: 10px;
    position: absolute;
    top: 95px;
    left: 18px;
    transform: rotate(-20deg);
}
.cat .foot-2 {
    width: 14px;
    height: 40px;
    background-color: #000000;
    border-radius: 10px;
    position: absolute;
    top: 95px;
    left: 54px;
    transform: rotate(20deg);
}
.cat .chvost {
    width: 70px;
    height: 12px;
    background-color: #000000;
    position: absolute;
    border-radius: 20px;
    top: 119px;
    left: 30px;
}