body {
    font-family: "Yu Gothic UI Semibold";
    margin: 0;
}
:root {
    --width: 100%;
    --fontW-for-small: 600;
    --height-for-nav: 50px;
    --font-size-h1-logo: 8.7em;
    --width-article: 50%;
}
@media (max-width: 700px) {
    :root {
        --height-for-nav: auto;
        --font-size-h1-logo: 4.2em;
        --width-article: 80%;
    }
}
@media (min-width: 701px) and (max-width: 870px) {
    :root {
        --height-for-nav: auto;
    }
}
.container {
    width: 100%;
    margin: 90vh 0;
}
.container .content {
    width: 100%;
    padding: 10px 10px 200px;
    position: absolute;
    box-sizing: border-box;
    border-top: 10px solid #34336B;
    background: linear-gradient(to bottom , rgb(255, 255, 255) 60%, rgb(92, 91, 144) 130%);
}
.container .content article {
    width: var(--width-article);
    margin: 0 auto;
}
.logo {
    width: 100%;
    height: calc(100vh - 50px);
    position: fixed;
    top: 50px;
}
.logo-text {
    width: 100%;
    position: fixed;
    top: 35vh;
    background: radial-gradient(circle farthest-side, rgb(34, 33, 80), transparent);
}
.logo-text h1 {
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
    width: 100%;
    margin: 0;
    font-size: var(--font-size-h1-logo);
    color: #fff;
    text-align: center;
}
.logo-text p {
    display: block;
    width: 100%;
    margin: -20px 0 0;
    text-align: center;
    color: #fff;
}
nav.nav {
    width: 100%;
    height: var(--height-for-nav-in-homepage);
    display: flex;
    flex-flow: row-reverse;
    background:  radial-gradient(circle at 50px 50px, rgb(31, 33, 56), rgb(8, 55, 85), rgb(31, 33, 56));
    position: fixed;
    top: 0;
    z-index: 1;
}
button#menu-button {
    width: 70px;
    height: 46px;
    background: transparent;
    border: 0;
    padding: 0 0 5px;
    outline: none;
    margin: 0 20px 0 10px;
}
button#menu-button > [class^="line-"] {
    width: 56px;
    height: 6px;
    margin-top: 6px;
    border-radius: 6px;
    background-color: #6fccc7;
    box-shadow: 0 0 5px rgb(206, 217, 224, 0.4) inset;
    transition: all .3s;
}
nav.nav div.menu-box {
    width: 100%;
    height: var(--height-for-nav);
    overflow: hidden;
}
nav.nav div.menu-box ul {
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    transform: translateX(100%);
    transition: all 1s;
}
nav.nav div.menu-box ul li {
    display: inline-block;
    width: 150px;
    text-align: center;
    position: relative;
}
nav.nav div.menu-box ul li a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    line-height: 50px;
    text-shadow: 1px 3px 6px black;
}
nav.nav div.menu-box ul li div.hover {
    width: 100%;
    height: 0;
    position: absolute;
    transition: all .5s;
    background-color: rgba(155, 240, 255, 0.6);
}
nav.nav div.menu-box ul li a:hover div.hover {
    height: 50px;
}
nav.nav div.menu-box ul li div.hover-active {
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: rgba(106, 40, 211, 0.6);
}
nav.nav .name-box {
    width: 130px;
    height: 50px;
    position: absolute;
    left: 0;
    color: white;
    font-size: 1.4em;
    line-height: 50px;
    font-family: "MV boli";
    transition: all .8s ease-in-out;
    text-align: center;
}
input {
    color: #A1A1A1;
    padding-left: 5px;
    width: 100%;
    border: 0;
    border-bottom: 3px solid #ACACAC;
    border-radius: 10px;
    height: 40px;
    margin: 5px 0 20px;
    opacity: .7;
}
input:focus {
    outline: none;
    border-bottom: 3px solid #7A7A7A;
    opacity: 1;
}
label {
    visibility: hidden;
}
.mistake input {
    border-color: #E4442A;
}
.good input {
    border-color: green;
}
.visible label {
    visibility: visible;
}
.hidden label {
    visibility: hidden;
}
.mail:invalid {
    border-bottom: 3px solid #FF7A65;
}
.mail:valid {
    border-bottom: 3px solid #07D800;
}
form {
    display: flex;
    flex-flow: wrap;
}
form p {
    text-align: center;
    width: 100%;
    text-align: center;
    margin: 20px 0 0;
}
.column-6 {
    width: calc(50% - 20px);
    margin: 0 10px;
}
.link-box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
.link-box a {
    width: 60px;
    height: 64px;
    margin: 0 10px;
    display: block;
    overflow: hidden;
    border-radius: 100%;
}
.link-box img {
    width: 100%;
    height: 64px;
}
.link-box p {
    text-align: center;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.link-box a:hover {
    transform: scale(1.2, 1.2);
}