body {
  font-family: sans-serif, "Hind Madurai", "Open sans", -apple-system,
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial;
  margin: 0;
}

:root {
  --line-height-for-corousel: 60px;
  --font-size-corousel: 1.3em;
  --width-corousel: 40%;
}

.container {
  width: 100%;
  box-sizing: border-box;
}

.content {
  display: none;
}

section {
  min-height: 100vh;
}

footer {
  width: 100%;
  height: 200px;
  background: rgb(1, 10, 26);
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  text-align: center;
  padding-bottom: 10px;
}

footer .footer-logo {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 20px);
  width: 40px;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

footer .footer-logo img {
  width: 40px;
  height: 40px;
}

footer div small {
  display: flex;
  width: 300px;
  justify-content: center;
}

/*-------Header-------*/
header {
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
  background: radial-gradient(
    circle at center center,
    #3b4da0,
    #04034b,
    #000000
  );
  text-shadow: 2px 2px 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}

header div {
  z-index: 2;
}

header img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: inherit;
  z-index: 1;
  opacity: 0.4;
}

header div h1 {
  font-weight: normal;
}

.font-size-level-1 {
  font-size: 2.6em;
  font-weight: bold;
}

.font-size-level-2 {
  font-size: 2em;
}

.font-size-level-3 {
  font-size: 0.95em;
}

body .active {
  display: block;
}

/*-------Navigation-------*/
nav {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  color: white;
  z-index: 100;
}

nav ul {
  margin: 0 40px 0 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav ul li {
  cursor: pointer;
  margin: 0 20px;
}

nav ul li a {
  position: relative;
  height: 20px;
  text-decoration: none;
  color: white;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transition: all 0.6s;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
  transition: all 0.3s;
}

nav ul li a.active-link {
  color: rgb(192, 192, 192);
}

nav ul li a.active-link::after {
  background: rgb(163, 163, 163);
  width: 100%;
  left: 0;
}

.logo {
  margin: 0 40px;
}

.logo img {
  margin: 3px;
  width: 34px;
  height: 34px;
}

nav button {
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  position: absolute;
  top: 0;
  right: 20px;
  display: none;
  outline: none;
}

nav button .line {
  width: 100%;
  height: 3px;
  background: white;
  display: block;
  margin: 5px 0;
}

nav .drawer {
  display: none;
  transform: translateX(-100%);
  transition: transform 0.6s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

nav .back-drop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #00000066;
  z-index: 10;
}

/*-------Form-in-contact-page-------*/
input {
  color: #a1a1a1;
  padding-left: 5px;
  width: 100%;
  border: 0;
  border-bottom: 3px solid #acacac;
  border-radius: 10px;
  height: 40px;
  margin: 5px 0 20px;
}

input:focus {
  outline: none;
  border-bottom: 3px solid #7a7a7a;
  opacity: 1;
}

label {
  visibility: hidden;
}

.mistake input {
  border-color: #e4442a;
}

.good input {
  border-color: green;
}

.visible label {
  visibility: visible;
}

.hidden label {
  visibility: hidden;
}

.mail:invalid {
  border-bottom: 3px solid #ff7a65;
}

.mail:valid {
  border-bottom: 3px solid #07d800;
}

form {
  display: flex;
  flex-flow: wrap;
}

form p {
  text-align: center;
  width: 100%;
  text-align: center;
  margin: 20px 0 0;
}

.column-6 {
  width: calc(50% - 20px);
  margin: 0 10px;
}

.link-box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.link-box a {
  width: 60px;
  height: 64px;
  margin: 0 10px;
  display: block;
  overflow: hidden;
  border-radius: 100%;
}

.link-box img {
  width: 100%;
  height: 64px;
}

.link-box p {
  text-align: center;
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.link-box a:hover {
  transform: scale(1.2, 1.2);
}

form textarea {
  width: 80%;
  margin: 20px 10%;
  height: 100px;
  resize: none;
  border-radius: 20px;
  border: 2px solid silver;
  padding: 10px;
}

form button {
  width: 80px;
  margin: 6px auto;
  border: 0;
  border-bottom: 3px solid gray;
  border-radius: 10px;
  background: transparent;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.424);
}

form button:active {
  border: 1px solid gray;
  margin: 7px auto;
}

/*-------animations-corousel-in-services-------*/
.example {
  width: var(--width-corousel);
  margin: 10px auto 100px;
  transform-style: preserve-3d;
  perspective: 800px;
}

.example .carousel {
  width: 100%;
  margin: 0 auto;
  transform: rotateX(30deg) scale(1.2, 1.2);
  background: #c4dfff81;
  padding: 0;
}

.example .carousel .box-services {
  height: 180px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.example .carousel .box-services div {
  position: absolute;
  top: 60px;
  border: 3px solid teal;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.example .box-services ul {
  height: 60px;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 1.2s;
  box-sizing: border-box;
}

.example .box-services ul li {
  display: block;
  height: inherit;
  line-height: var(--line-height-for-corousel);
  opacity: 0.5;
  font-size: 0.8em;
  transition: all 1.2s;
}

.example .carousel .box-services .active-li {
  font-size: var(--font-size-corousel);
  opacity: 1;
}

.example .carousel button {
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 5px 0;
  outline: none;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
  background: #ffffff;
  border: 0;
  transform: scaleX(1.02);
}

.example .carousel button:active {
  transform: translateY(4px);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  transform: scaleX(1) translateY(3px);
}

.example .carousel button:disabled {
  background: rgba(178, 182, 200, 0.657);
}

/*-------@media-------*/
@media (max-width: 500px) {
  :root {
    --widht-for-text: 0px;
    --auto-margin: auto;
    --width-corousel: 100%;
    --line-height-for-corousel: 30px;
  }
}

@media (max-width: 700px) {
  :root {
    --width: 80%;
    --width-corousel: 100%;
    --line-height-for-corousel: 35px;
  }
}

@media (max-width: 935px) {
  :root {
    --width-corousel: 85%;
    --font-size-corousel: 1em;
  }
}

@media (max-width: 1090px) {
  :root {
    --width-corousel: 50%;
  }
}

@media (max-width: 600px) {
  header div {
    font-size: 0.6em;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  header div {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }

  nav {
    justify-content: center;
  }

  nav button {
    display: block;
  }

  nav .drawer {
    display: block;
    width: 160px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #16263f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
  }

  nav .drawer ul {
    width: 140px;
    display: flex;
    flex-flow: column;
  }
}