@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?58313222');
  src: url('./font/fontello.eot?58313222#iefix') format('embedded-opentype'),
    url('./font/fontello.woff?58313222') format('woff'),
    url('./font/fontello.ttf?58313222') format('truetype'),
    url('./font/fontello.svg?58313222#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


.demo-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

body {
  font-family: sans-serif, "Hind Madurai", "Open sans", -apple-system,
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial;
  margin: 0;
  color: rgb(60, 60, 60);
}

h3 {
  width: 100%;
  text-align: center;
}

.container {
  width: 100%;
  box-sizing: border-box;
}

.content {
  display: none;
}

section {
  min-height: 90vh;
  box-sizing: border-box;
}

footer {
  width: 100%;
  height: 200px;
  background: rgb(1, 10, 26);
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  text-align: center;
  padding-bottom: 10px;
}

footer .footer-logo {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 20px);
  width: 40px;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

footer .footer-logo img {
  width: 40px;
  height: 40px;
}

footer div small {
  display: flex;
  width: 300px;
  justify-content: center;
}

footer a {
  color: white;
}

/*-------Header-------*/
header {
  width: 100%;
  height: 100vh;
  color: white;
  text-align: center;
  background: radial-gradient(circle at center center,
    #3b4da0,
    #04034b,
    #000000);
  text-shadow: 2px 2px 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
}

header div {
  z-index: 2;
}

header img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: inherit;
  z-index: 1;
  opacity: 0.4;
}

.font-size-level-1 {
  font-size: 2.6em;
  font-weight: bold;
  text-align: center;
}

.font-size-level-2 {
  font-size: 2em;
  text-align: center;
}

.font-size-level-3 {
  font-size: 0.95em;
  font-weight: normal;
  text-align: center;
}

body .active {
  display: block;
}

/*-------Navigation-------*/
nav {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  color: white;
  z-index: 100;
}

nav ul {
  margin: 0 40px 0 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav ul li {
  cursor: pointer;
  margin: 0 20px;
}

nav ul li a {
  position: relative;
  height: 20px;
  text-decoration: none;
  color: white;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transition: all 0.6s;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0;
  transition: all 0.3s;
}

nav ul li a.active-link {
  color: rgb(192, 192, 192);
}

nav ul li a.active-link::after {
  background: rgb(163, 163, 163);
  width: 100%;
  left: 0;
}

.logo {
  margin: 0 40px;
}

.logo img {
  margin: 3px;
  width: 34px;
  height: 34px;
}

nav button {
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  position: absolute;
  top: 0;
  right: 20px;
  display: none;
  outline: none;
}

nav button .line {
  width: 100%;
  height: 3px;
  background: white;
  display: block;
  margin: 5px 0;
}

nav .drawer {
  display: none;
  transform: translateX(-100%);
  transition: transform 0.6s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

nav .back-drop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #00000066;
  z-index: 10;
}

/*-------@media-------*/
@media (max-width: 700px) {
  article {
    flex-flow: column;
  }
}

@media (max-width: 600px) {
  header div {
    font-size: 0.6em;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  header div {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  #servicePage article div.text-box {
    width: 100%;
    padding: 0 10px;
  }

  article div.text-box {
    width: 100%;
    padding: 0 10px;
  }

  nav ul {
    display: none;
  }

  nav {
    justify-content: center;
  }

  nav button {
    display: block;
  }

  nav .drawer {
    display: block;
    width: 160px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #16263f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
  }

  nav .drawer ul {
    width: 140px;
    display: flex;
    flex-flow: column;
  }

  div#contactPage section {
    flex-flow: column-reverse;
  }

  div#contactPage section form {
    width: 100%;
    order: 1;
  }

  div#contactPage div.text-box {
    order: 2;
    width: 100%;
  }

  div#contactPage section .text-box .address-box {
    width: 100%;
    height: 100%;
    border: 0;
    border-bottom: 2px solid silver;
    padding: 80px 0;
  }
}

article {
  width: 90%;
  display: flex;
  margin: 0 auto;
  padding: 0 0 50px;
}

article .text-box {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

.skill-chart-box {
  display: flex;
  flex-flow: column;
}

.skill-chart-box .line-skill {
  width: 100%;
  height: 3px;
  background: silver;
  margin: 30px 0;
}

.line-skill .line {
  height: 3px;
  background: #000;
  position: relative;
}

.line-skill .line::before {
  content: "";
  display: block;
  border: 20px solid transparent;
  border-top: 20px solid black;
  position: absolute;
  top: -20px;
  right: -20px;
}

.line-skill .line div {
  width: 40px;
  height: 20px;
  background: #000;
  color: white;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: -29px;
  right: -22px;
  padding: 4px 2px 0;
}

#typed-string {
  background: rgb(60, 60, 60);
  color: white;
  padding: 4px 10px;
}

.typed-cursor {
  display: none;
}

.download-link {
  display: block;
  width: 150px;
  text-align: center;
  padding: 8px 0;
  background: #3c3c3c;
  color: white;
  text-decoration: none;
  margin: 0 10px 10px 0;
}

.download-link:hover {
  opacity: 0.8;
}

#bioPage section article {
  justify-content: center;
}

#bioPage section article .text-box {
  width: 50%;
}

/*-------Service-page-------*/

#servicePage article {
  display: flex;
  align-items: center;
  flex-flow: column;
}

#servicePage article .text-box {
  width: 50%;
}

#servicePage .service-box {
  width: 100%;
  min-height: 420px;
  background: black;
  background: url(/images/laptop2.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

#servicePage .service-box .service-content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}

#servicePage .service-box .service-content .carousel {
  width: 100%;
  height: 240px;
  position: relative;
}

.carousel-content {
  width: 100%;
  height: inherit;
  display: flex;
  position: relative;
}

.carousel-content div {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;
}

.carousel-content div.active {
  opacity: 1;
}

.carousel-content div p {
  max-width: 600px;
}

.slide-pos {
  display: flex;
  justify-content: center;
}

.slide-pos div {
  margin: 0 10px;
  border: 2px solid white;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-pos div:hover {
  background: white;
  color: #000;
  font-weight: bold;
}

.slide-pos div.active {
  border: 2px solid yellow;
  opacity: 0.6;
}

.slide-pos div.active:hover {
  background: transparent;
  color: white;
  font-weight: normal;
}


/*-------Contact-page-------*/

#contactPage section {
  display: flex;
  min-height: 80vh;
}

#contactPage section .text-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contactPage section .text-box .address-box {
  width: 90%;
  height: 90%;
  border: 2px solid silver;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  text-align: center;
}

#contactPage section .text-box .address-box i {
  font-size: 1.4em;
}

#contactPage section .text-box .address-box a {
  color: rgb(60, 60, 60);
  text-decoration: none;
}

#contactPage section .text-box .address-box div div {
  margin: 10px 0;
}

input {
  color: #8b8b8b;
  padding-left: 5px;
  width: 100%;
  border: 2px solid silver;
  background: white;
  height: 40px;
  margin: 5px 0;
  box-sizing: border-box;
  outline: none;
}

input:focus {
  border-color: #7a7a7a;
}

label {
  visibility: hidden;
}

.mistake input {
  border-color: #e4442a;
}

.good input {
  border-color: limegreen;
}

.visible label {
  visibility: visible;
}

.hidden label {
  visibility: hidden;
}

.mail:invalid {
  border: 2px solid #ff7a65;
}

.mail:valid {
  border: 2px solid limegreen;
}

form {
  display: flex;
  width: 50%;
  flex-flow: wrap;
  background: #F8F8F8;
  box-sizing: border-box;
  padding: 10px;
}

form div {
  width: 100%;
}

form textarea {
  width: 100%;
  margin: 20px 0;
  height: 100px;
  resize: none;
  border: 2px solid silver;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

form button {
  margin: 6px auto;
  padding: 10px 20px;
  border: 0;
  border-bottom: 3px solid gray;
  background: #3c3c3c;
  outline: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

form button:hover {
  opacity: .9;
}

form button:active {
  border: 0;
  margin: 9px auto 6px;
}


/*-------Portfolio-page-------*/

.portfolio-box {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.work {
  width: 30%;
  min-width: 280px;
  height: 300px;
  box-shadow: 1px 1px 6px silver;
  border-radius: 2px;
  margin: 5px;
  position: relative;
}

.work img {
  width: 100%;
  height: 300px;
}

.work .info {
  width: 100%;
  height: 50px;
  background: rgb(0, 0, 0, .8);
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  transition: all 1s;
  overflow: hidden;
}

.info div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.info div button {
  width: 0;
  height: 0;
  border-radius: 100%;
  opacity: 0;
  outline: none;
  transition: all .3s;
  border: 2px solid white;
  background: transparent;
  color: white;
}

.work:hover .info {
  height: 100%;
  background: rgb(0, 0, 0, .6);
}

.work:hover .info div {
  opacity: 1;
  justify-content: space-around;
}

.work:hover .info button {
  opacity: 1;
  width: 40px;
  height: 40px;
  transition: all 1s;
}

.work .info button:hover {
  border: 2px solid yellow;
  color: yellow;
}