@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');

.Header {
  width: 100%;
  min-height: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #0b4f7c, #0d052f, #000);
  color: white;
}

p.homePageTitle {
  font-size: 1.6em;
  display: flex;
  flex-flow: column;
  text-transform: uppercase;
  text-align: center;
}

p.homePageTitle span:nth-child(2) {
  font-size: 1.93em;
}

p.homePageTitle span:nth-child(2n + 2) {
  color: transparent;
  font-family: 'Roboto', sans-serif;
  background-image: url(../../assets/images/elements/textBg.png);
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 100% 0;
  background-size: 50%;
  text-shadow: 0px 0px 10px rgb(235, 235, 235, .5);
}

header:hover p.homePageTitle span:nth-child(2n + 2) {
  animation: headerText 3s infinite linear;
}

@keyframes headerText {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

p.homePageTitle span:nth-child(4) {
  font-size: 1.79em;
}